.image {
  img {
    width: 100%;
    object-fit: contain;
  }
}

.fromRight {

}

.paddingText {
  padding: 0 300px;
}

@media (max-width: 767px) {
  .paddingOnMedia {
    padding-bottom: 0 !important;
  }
}
