.background {
  background-color: #000;
}

.parent {
  padding: 120px 0;
  text-align: center;
  color: #fff;
  background: url('../../../assets/forback.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.description {
  margin: 0 20px 10px 20px;
}
